@import common
@import inputs

nav
  top: 0
  left: 0
  padding: 8px
  position: absolute
  display: flex
  gap: 8px

  > button
    padding: 0 4px

main
  div.sheet-view
    width: min-content
    height: min-content
    display: flex
    flex-direction: column
    gap: 8px
    > div.sprite-view
      display: flex
      flex-direction: row
      gap: 8px
      padding: 8px
      width: min-content
      height: min-content
      border-radius: 2px
      background-color: black
      > h1
        margin: 0
        font-size: 12px
        font-weight: bold
        text-align: center
        white-space: nowrap
        color: #111
        background-color: white
        writing-mode: vertical-rl
        rotate: 180deg
        border-radius: 1px
      > div.frame-container
        display: flex
        flex-direction: row
        gap: 8px
        > div.frame-view
          display: flex
          flex-direction: column
          gap: 1px
          padding: 1px
          border-radius: 1px
          background-color: darken(white, 1%)
          > canvas
            cursor: pointer
            background-color: white
            image-rendering: pixelated
          > footer
            display: flex
            flex-direction: row
            height: 16px
            border-radius: 1px
            background-color: black
