@import common
@import inputs

nav
  top: 0
  left: 0
  padding: 8px
  position: absolute
  display: flex
  gap: 8px

  > button
    padding: 0 4px

main
  div.sheet-view
    width: min-content
    height: min-content
    display: flex
    flex-direction: column
    gap: 8px
    > button
      font-size: 15px
      line-height: 14px
      white-space: nowrap
      border-radius: 10px
      width: 20px
      height: 20px
    > div.sprite-container
      display: flex
      flex-direction: column
      gap: 8px
      > div.sprite-view
        display: flex
        flex-direction: row
        gap: 8px
        padding: 8px
        width: min-content
        height: min-content
        border-radius: 2px
        background-color: #202327
        > h1
          margin: 0
          padding: 0 4px
          font-size: 12px
          width: 16px
          font-weight: bolder
          text-align: center
          white-space: nowrap
          color: white
          background-color: rgba(black, 0.3)
          writing-mode: vertical-rl
          rotate: 180deg
          border-radius: 1px
          overflow: hidden
        > div.frame-container
          display: flex
          flex-direction: row
          gap: 8px
          > div.frame-view
            display: flex
            flex-direction: column
            gap: 2px
            border-radius: 1px
            overflow: hidden
            box-shadow: 0 0 1px 0 rgba(black, 0.5) inset
            > canvas
              cursor: pointer
              image-rendering: pixelated
              background-color: rgba(black, 0.3)
