html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-family: "Open Sans", sans-serif;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  color: #eaeaea;
  background-color: #1A1A1A;
}

html {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-width: -webkit-fill-available;
  min-height: -webkit-fill-available;
}

* {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

svg.preloader {
  --percentage: 0.0;
  --radius: 7;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
  position: absolute;
}
svg.preloader.error circle {
  stroke: #C30;
}
svg.preloader > circle.progress {
  stroke-dasharray: calc(var(--radius) * 6.2831853);
  stroke-dashoffset: calc(var(--radius) * 6.2831853 * (1 - var(--percentage)));
}

button {
  color: rgba(255, 255, 255, 0.4);
  fill: currentColor;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  border-radius: 2px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  pointer-events: all;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
button:hover {
  color: rgba(255, 255, 255, 0.6);
}
button:active {
  color: white;
}
button:disabled {
  opacity: 0.3;
}

nav {
  top: 0;
  left: 0;
  padding: 8px;
  position: absolute;
  display: flex;
  gap: 8px;
}
nav > button {
  padding: 0 4px;
}

main div.sheet-view {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: grid;
  grid-template-columns: -webkit-min-content 24px -webkit-min-content;
  grid-template-columns: min-content 24px min-content;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 16px;
}
main div.sheet-view > div.preview {
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main div.sheet-view > div.preview > canvas {
  padding: 8px;
  border-radius: 3px;
  background-color: black;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
main div.sheet-view > h1 {
  margin: 0;
  padding: 0 4px;
  font-size: 13px;
  line-height: 22px;
  width: 16px;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  background-color: #111;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  rotate: 180deg;
  border-radius: 0 8px 8px 0;
  border-top: 1px rgba(255, 255, 255, 0.1) solid;
  border-right: 1px rgba(255, 255, 255, 0.1) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  overflow: hidden;
}
main div.sheet-view > div.frame-views {
  min-height: 32px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 8px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-top: 1px rgba(255, 255, 255, 0.1) solid;
  border-right: 1px rgba(255, 255, 255, 0.1) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  background-color: #111;
}
main div.sheet-view > div.frame-views > div.frame-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset;
}
main div.sheet-view > div.frame-views > div.frame-view > canvas {
  cursor: pointer;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
main div.sheet-view > button {
  margin: 0 0 0 3px;
  font-size: 15px;
  line-height: 14px;
  white-space: nowrap;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  grid-column: 2/3;
}/*# sourceMappingURL=main.css.map */