@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-family: "Open Sans", sans-serif;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  color: #eaeaea;
  background-color: #1A1A1A;
}

html {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-width: -webkit-fill-available;
  min-height: -webkit-fill-available;
}

* {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

svg.preloader {
  --percentage: 0.0;
  --radius: 7;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
  position: absolute;
}
svg.preloader.error circle {
  stroke: #C30;
}
svg.preloader > circle.progress {
  stroke-dasharray: calc(var(--radius) * 6.2831853);
  stroke-dashoffset: calc(var(--radius) * 6.2831853 * (1 - var(--percentage)));
}

button {
  color: rgba(255, 255, 255, 0.4);
  fill: currentColor;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  border-radius: 2px;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  pointer-events: all;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
button:hover {
  color: rgba(255, 255, 255, 0.6);
}
button:active {
  color: white;
}
button:disabled {
  opacity: 0.3;
}

@-webkit-keyframes menu-item-trigger {
  0% {
    color: black;
    background-color: black;
  }
  50%, 100% {
    color: #333333;
    background-color: #ececec;
  }
}

@keyframes menu-item-trigger {
  0% {
    color: black;
    background-color: black;
  }
  50%, 100% {
    color: #333333;
    background-color: #ececec;
  }
}
nav#app-menu {
  display: flex;
  margin: 0;
  padding: 0 8px;
}
nav#app-menu > button {
  width: auto;
  height: auto;
  color: #E9E9E9;
  padding: 6px 12px;
  font-size: 13px;
  background: transparent;
  border-radius: 4px;
}
nav#app-menu > button.selected {
  color: #E9E9E9;
  background-color: #3A3A3A;
}

div.menu-layer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

nav.menu {
  position: absolute;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #F2F2F2;
  background-color: #2D2D2D;
  border: 1px #575757 solid;
  border-radius: 4px;
  overflow: hidden;
  min-width: 128px;
  max-height: 100%;
  padding: 8px 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  pointer-events: all;
}
nav.menu.docked {
  margin: 2px 0 0 0;
  padding: 6px 0 8px 0;
}
nav.menu.shutdown {
  pointer-events: none;
}
nav.menu.overflowing div.scroll {
  display: flex;
}
nav.menu > div.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
nav.menu > div.container > div.default {
  flex: 1 0 22px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 0 4px;
  padding: 0 8px 0 4px;
  pointer-events: inherit;
  white-space: nowrap;
}
nav.menu > div.container > div.default.selected {
  background-color: #797979;
}
nav.menu > div.container > div.default.triggered {
  -webkit-animation-name: menu-item-trigger;
          animation-name: menu-item-trigger;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
nav.menu > div.container > div.default > svg.check-icon, nav.menu > div.container > div.default svg.children-icon {
  pointer-events: none;
  fill: none;
  stroke: #F2F2F2;
  stroke-width: 1.5;
  stroke-linecap: round;
  width: 12px;
  height: 12px;
}
nav.menu > div.container > div.default > svg.check-icon {
  visibility: hidden;
}
nav.menu > div.container > div.default > svg.children-icon {
  display: none;
}
nav.menu > div.container > div.default.checked > svg.check-icon {
  visibility: visible;
}
nav.menu > div.container > div.default.has-children > svg.children-icon {
  display: block;
}
nav.menu > div.container > div.default:not(.selectable) {
  color: #6d6d6d;
  pointer-events: none;
}
nav.menu > div.container > div.default > div.label {
  pointer-events: none;
  flex: 1;
  margin: 0 24px 0 4px;
}
nav.menu > div.container > div.default > div.shortcut {
  display: flex;
  opacity: 0.3;
  pointer-events: none;
  margin: 0;
  justify-content: flex-end;
}
nav.menu > div.container > div.default > div.shortcut > span {
  flex: 0 0 1em;
  text-align: center;
}
nav.menu > div.container > hr {
  margin: 5px 12px;
  width: calc(100% - 24px);
  height: 0;
  border: 0;
  border-top: 1px solid #515151;
  pointer-events: none;
}
nav.menu > div.scroll {
  display: none;
  justify-content: center;
  flex: 1 0 20px;
  line-height: 22px;
  margin: 4px 0;
  width: 100%;
  color: #666;
}
nav.menu > div.scroll.up {
  margin-top: -3px;
}
nav.menu > div.scroll.down {
  margin-bottom: -3px;
}
nav.menu > div.scroll.scrolling {
  color: #DDD;
}

div.top {
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  position: absolute;
  background-color: black;
}
div.top > nav {
  top: 0;
  left: 0;
  padding: 8px;
  position: absoluteØ;
  display: flex;
  gap: 8px;
}
div.top > nav > button {
  padding: 0 4px;
}

main div.sheet-view {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: grid;
  grid-template-columns: -webkit-min-content 24px -webkit-min-content;
  grid-template-columns: min-content 24px min-content;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 16px;
}
main div.sheet-view > div.preview {
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main div.sheet-view > div.preview > canvas {
  padding: 8px;
  border-radius: 3px;
  background-color: black;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
main div.sheet-view > h1 {
  margin: 0;
  padding: 0 4px;
  font-size: 13px;
  line-height: 22px;
  width: 16px;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.8);
  background-color: #111;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg) translate(100%, 0);
  transform-origin: right center;
  border-radius: 0 8px 8px 0;
  border-top: 1px rgba(255, 255, 255, 0.1) solid;
  border-right: 1px rgba(255, 255, 255, 0.1) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer;
}
main div.sheet-view > div.frame-views {
  min-height: 32px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 8px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-top: 1px rgba(255, 255, 255, 0.1) solid;
  border-right: 1px rgba(255, 255, 255, 0.1) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  background-color: #111;
}
main div.sheet-view > div.frame-views > div.frame-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset;
}
main div.sheet-view > div.frame-views > div.frame-view > canvas {
  cursor: pointer;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}
main div.sheet-view > button {
  margin: 0 0 0 3px;
  font-size: 15px;
  line-height: 14px;
  white-space: nowrap;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  grid-column: 2/3;
}/*# sourceMappingURL=main.css.map */